<ion-view view-title="New Entry">
  <ion-content>
    <form id="new-entry">
    <!-- <div class="row">
      <div class="col">
        <a href="#" class="padding">cancel</a>
      </div>
      <div class="col">
        <div class="h4 title">New Entry</div>
      </div>
      <div class="col">
        <input type="submit" class="button button-full button-assertive button-outline">
      </div>
    </div> -->

    <div class="bar bar-header bar-stable item-input-inset">
      <button class="button button-clear">
        Cancel
      </button>
      <h1 class="title">
        New Entry
      </h1>
      <button class="button button-outline button-assertive">
        Save Entry
      </button>
    </div>

    <div class="list form">
      <div class="row">
        <div class="col col-67">
          <label class="item item-input">
            <input type="text" placeholder="Title this entry">
          </label>
        </div>
        <div class="col">
          <label class="item item-input">
            <input type="text" placeholder="date">
          </label>
        </div>
      </div>
      <label class="item item-input">
        <textarea rows="7" placeholder="What would you like to remember?"></textarea>
      </label>
      <label class="item item-input">
        <input type="text" placeholder="labels">
      </label>
      <label class="item item-input">
        <input type="file" class="">
      </label>
    </div>
  </form>
  </ion-content>
</ion-view>
