<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<div id="entries">
  <ion-view view-title="MemryBook">
    <ion-content class="padding">
      <div ng-controller="EntriesCtrl as entry">
        <div class="list card" ng-repeat="entry in entries">

          <div class="item item-text-wrap gray">
            <button class="button button-icon ion-drag right" ng-click="openPopover($event)"></button>
            <h2>{{entry.title}}</h2>
            <p>{{entry.date | date: "longDate"}}</p>
          </div>

          <div class="item tabs tabs-secondary tabs-icon-left" ng-show="">
            <a class="tab-item" href="#" ng-click="isSelected()">
              <i class="icon ion-ios-glasses"></i>
              Visual
            </a>
            <a class="tab-item" href="#" ng-click="isSelected()">
              <i class="icon ion-mic-c"></i>
              Audio
            </a>
            <a class="tab-item" href="#" ng-click="isSelected()">
              <i class="icon ion-document-text"></i>
              Files
            </a>
          </div>

          <div class="item item-body">

            <p>
              {{entry.content}}
            </p>
            <ion-slide-box does-continue="true">
              <ion-slide ng-repeat="image in entry.images">
                <img class="full-image" ng-src="{{image.image}}" >
              </ion-slide>
            </ion-slide-box>
            <p>
              Labels: <a href="#" class="subdued" ng-repeat="tag in entry.tags">{{tag.name}}{{$last ? '' : ','}}</a>
            </p>
          </div>

          <div class="item tabs tabs-secondary tabs-icon-left gray">
            <a class="tab-item" href="#">
              <i class="icon ion-share"></i>
              Share
            </a>
          </div>

        </div>
      </div>
    </ion-content>
  </ion-view>
</div>
<!-- Popover for editing and deleting-->
<script id="my-popover.html" type="text/ng-template">
  <ion-popover-view>
    <ion-content>
      <div class="list">
        <a class="item" href="#" target="_blank">
          Edit
        </a>
        <a class="item" href="#" target="_blank">
          Delete
        </a>
      </div>
    </ion-content>
  </ion-popover-view>
</script>
