<ion-view view-title="Profile">
  <ion-content>
    <div class="list">
      <a class="item item-avatar" href="#">
        <img src="img/ionic.png">
        <h2>Venkman</h2>
        <p>Back off, man. I'm a scientist.</p>
      </a>
      <a class="item item-icon-right" href="#">
          Edit Profile
        <i class="icon ion-person"></i>
      </a>
      <a class="item item-icon-right" href="#">
          Edit Password
        <i class="icon ion-locked"></i>
      </a>
      <a class="item item-icon-right assertive" href="#">
          Delete Account
        <i class="icon ion-trash-b"></i>
      </a>
    </div>
  </ion-content>
</ion-view>
