<ion-view view-title="New Entry" hide-nav-bar="true" class="modal">
  <ion-content>
    <div ng-controller="EntriesCtrl as entry">
    <form name="entryForm" ng-submit="entry.add()">

    <ion-header-bar class="bar bar-header bar-stable item-input-inset">
      <button class="button button-clear" ng-click="modal.hide()">
        Cancel
      </button>
      <h1 class="title">
        New Entry
      </h1>
      <input type="submit" value="Save Entry" class="button button-outline button-assertive">
      </input>
    </ion-header-bar>

    <div class="list form">
      <div class="row">
        <div class="col col-67">
          <label class="item item-input">
            <input type="text" placeholder="Title this entry" ng-model="entry.title">
          </label>
        </div>
        <div class="col">
          <label class="item item-input">
            <input type="date" placeholder="date" ng-model="entry.date">
          </label>
        </div>
      </div>
      <label class="item item-input">
        <textarea rows="7" placeholder="What would you like to remember?" ng-model="entry.content"></textarea>
      </label>
      <label class="item item-input">
        <input type="text" placeholder="labels" ng-model="entry.tags">
      </label>
      <label class="item item-icon-left">
        <i class="icon ion-android-upload"></i>
        <input type="file" multiple="true">
      </label>
    </div>
  </form>

  {{ entry.title }}
  {{ entry.date }}
  {{ entry.content }}
  {{ entry.tags }}
</div>
  </ion-content>
</ion-view>
