<ion-view view-title="Edit Entry" hide-nav-bar="true" class="modal" ng-controller="EntryListCtrl as entry">
  <ion-content>

    <form name="entryForm" ng-submit="entry.add()">
      <ion-header-bar class="bar bar-header bar-dark item-input-inset">
        <button class="button button-clear padding-left" ng-click="modal.hide()">
          Cancel
        </button>
        <h1 class="title">
          Edit Entry
        </h1>
        <input type="submit" value="Update Entry" class="button button-outline button-assertive bold">
        </input>
      </ion-header-bar>

      <div class="list form">
        <label class="item item-input item-icon-right">
          <a href="#"><i class="icon ion-android-attach balanced"></i></a>
          <input type="text" placeholder="Title this entry" ng-model="entry.title">
        </label>
        <label class="item item-input">
          <textarea rows="7" placeholder="What would you like to remember?" ng-model="entry.content"></textarea>
        </label>
            <label class="item item-input">
              <i class="icon ion-ios-pricetag placeholder-icon"></i>
              <input type="text" placeholder="Labels" ng-model="entry.tags">
            </label>
            <label class="item item-input">
              <input type="date" placeholder="date" ng-model="entry.date">
            </label>
        <!-- <label class="item item-icon-left">
          <i class="icon ion-android-upload"></i>
          <input type="file" multiple="true">
        </label> -->
      </div>

    </form>
  </ion-content>
</ion-view>
