<ion-view view-title="MemryBook">
  <ion-nav-title>
    <div class="bar bar-header item-input-inset">
      <label class="item-input-wrapper">
        <i class="icon ion-ios-search placeholder-icon"></i>
        <input type="search" placeholder="Search">
      </label>
      <button class="button button-clear">
        Cancel
      </button>
    </div>
  </ion-nav-title>

<ion-content ng-controller="EntriesCtrl as entry">

    <div class="list card" ng-repeat="entry in entries">
      <div class="item item-text-wrap gray">
        <i class="button-icon icon ion-android-more-horizontal" style="float:right;" ng-click="openPopover($event,entry)" ng-show="!entry.shared"></i>
         <i class="button-icon icon ion-android-more-horizontal" style="float:right;" ng-click="openSharePopover($event,entry)" ng-show="entry.shared"></i>
        <h2>{{entry.title}}</h2>
        <p>{{entry.date | date: "longDate"}}</p>
      </div>
      <div class="item item-text-wrap gray">
        <p read-more ng-if="entry.content" ng-model="entry.content" words="true" length="50"></p>
      </div>
       
      <div ng-if="entry.resources" >
      <section ng-controller="PanelCtrl as panel1" ng-init="CreateResourceTypeList(entry.resources)">
         <div class="item tabs tabs-secondary tabs-icon-left" ng-if="ResourceList.length>1">
          <a class="tab-item" ng-repeat="fileType in ResourceList" ng-click="panel1.selectTab($index)" ng-class="{ active:panel1.isSelected($index) }">
            <div id="selectTab{{$index}}" ng-click="selectTab(fileType.id)">
            <i class="icon ion-ios-glasses text-danger" ng-if="fileType.type=='Visual'"></i>
            <i class="icon ion-mic-c text-success" ng-if="fileType.type=='Audio'"></i>
            <i class="icon ion-document-text text-info" ng-if="fileType.type=='Files'"></i>
            {{fileType.type}}
            </div>
          </a>
        </div>
        <div ng-repeat="fileType in ResourceList">
        <div class="item item-body panel" ng-if="fileType.type=='Visual'" ng-show="isSelected(fileType.id)">
          <ion-slide-box does-continue="true" >
            <ion-slide ng-repeat="resource in entry.resources | filter: selectVisuals" ng-if="resource.attachment_content_type == 'image' || resource.attachment_content_type == 'video'">
              <img ng-src="{{resource.attachment}}" ng-click='showModal($index,entry.resources)' class="full-image" ng-if="resource.attachment_content_type == 'image'">
              <div ng-if="resource.attachment_content_type == 'video'" class="video-thumb" ng-click='showModal($index,entry.resources)'>
                <img ng-src="{{resource.attachment_thumbnail}}" class="video full-image">
                <i class="icon ion-play"></i>
              </div>
            </ion-slide>
          </ion-slide-box>
        </div> 

        <!--Audio content -->
          <ion-audio-track track="track" ng-if="fileType.type=='Audio'"  ng-show="isSelected(fileType.id)">
            <div class="list">
            <ion-audio-progress-bar display-time></ion-audio-progress-bar>
              <div class="item item-thumbnail-left" ng-repeat="resource in entry.resources" ng-if="resource.attachment_content_type == 'audio'">
                <img src="http://komatsushima.main.jp/wp-content/uploads/2013/12/podcast.png">
                <ion-audio-controls>
                  <a class="button button-icon icon" ng-click='play(resource.attachment)' ion-audio-play></a>
                  <ion-spinner icon="ios"></ion-spinner>
                </ion-audio-controls>
                <h4>{{resource.attachment_file_name}}</h4>
                 <a ng-click="removeMobileFile($event,resource,entry)" class="pull-right pointer">Remove</a>
              </div>
            </div> 
         </ion-audio-track> 

        <!-- Files content -->
        <div class="item item-body panel" ng-if="fileType.type=='Files'" ng-show="isSelected(fileType.id)">
          <p ng-repeat="resource in entry.resources"  ng-if="resource.attachment_content_type == 'pdf'">
            <i class="icon ion-document-text"></i>
            <a href="{{resource.attachment}}">{{resource.attachment_file_name}}</a>
            <a ng-click="removeMobileFile($event,resource,entry)" class="pull-right pointer">Remove</a>
          </p>
       </div>
       </div>
      </section>
    </div>
      <!-- tags Section -->
      <div class="item item-text-wrap gray">
         <p class="labels" ng-if="entry.tags.length">
            Labels: <a href="#" class="subdued" ng-repeat="tag in entry.tags">{{tag.name}}{{$last ? '' : ', '}}</a>
          </p>
      </div>
      <!-- Share Entry -->
      <div class="item tabs tabs-secondary tabs-icon-left gray">
        <a class="tab-item" href="#" ng-click="shareModal.show()">
          <i class="icon ion-share"></i>
          Share
        </a>
      </div>
    </div>
    <ion-infinite-scroll on-infinite="showNext()" distance="1%">
  </ion-infinite-scroll>
</ion-content>
</ion-view>

<!-- Popover for editing and deleting-->
<script id="my-popover.html" type="text/ng-template">
  <ion-popover-view>
    <ion-content>
      <div class="list">
        <a class="item" ng-click="openEdit()" ng-model="entry.id">
          Edit
        </a>
        <a class="item" ng-click="removeMobile()">
          Delete
        </a>
      </div>
    </ion-content>
  </ion-popover-view>
</script>
<script id="my-share-popover.html" type="text/ng-template">
  <ion-popover-view>
    <ion-content>
      <div class="list">
        <a class="item" ng-click="openShareEdit()" ng-model="entry.id">
          Edit
        </a>
        <a class="item" ng-click="removeShareMobile()">
          Hide
        </a>
      </div>
    </ion-content>
  </ion-popover-view>
</script>