<!-- Edit Profile -->

<ion-view view-title="Update Password">
  <ion-content ng-controller="UserCtrl as user">

    <form id="registration" ng-submit="user.updateUser">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Password:</span>
          <input type="password" ng-required>
        </label>
        <label class="item item-input">
          <span class="input-label">Confirm:</span>
          <input type="password" ng-required>
        </label>
        <input type="submit" value="UPDATE PASSWORD" class="button button-block button-assertive bold">
      </div>
    </form>

  </ion-content>
</ion-view>
