<ion-view view-title="MemryBook Login" hide-nav-bar="true">
  <ion-content>

    <form id="login">
      <div class="list list-inset">
        <label class="item item-input">
          <input type="email" placeholder="Email" ng-model="loginUser.email">
        </label>
        <label class="item item-input">
          <input type="password" placeholder="Password" ng-model="loginUser.password">
        </label>
        <button type="button" ng-click="login()" class="button button-block button-assertive bold">LOGIN</button>
      </div>
      <button class="button button-clear button-assertive" ui-sref="user.forgot-password">Forgot Your Password?</button>
    </form>
  </ion-content>
</ion-view>
