<div class="modal-header">
	<h4 class="modal-title">New Label</h3>
	</div>
	<div class="modal-body">
		<form role="form" novalidate name="tagForm">
			<div class="row">
				<div class="col-md-12">
					<div class="form-group" ng-class="{'has-error': tagForm.name.$invalid&&(tagForm.name.$dirty||tagForm.name.$touched) }">
						<label for="name">Name:</label>
						<input type="text" ng-model="newTag.name" required class="form-control" name="name"
						id="name">
						<span class="help-block" ng-show="tagForm.name.$invalid&&(tagForm.name.$dirty||tagForm.name.$touched)">
						<span class="help-block" ng-show="tagForm.name.$error.required">Name is required</span>
						</span>
					</div>
				</div>
				<div class="col-md-12">
					<div class="form-group">
						<label for="parent">Parent:</label>

						<select id="parent" class="form-control" ng-options="tag.id as tag.name for tag in tags" ng-model="newTag.ancestry">
							<option value="">No Parent</option>
							<!-- <option ng-repeat='tag in tags' value='{{tag.id}}'>{{tag.name}}</option> -->
						</select>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" ng-disabled="tagForm.$invalid" ng-click="saveNewTag()">Save</button>
	<button class="btn btn-warning" ng-click="closeModal()">Cancel</button>
</div>
