<div layout="row" id="labels" layout-margin>
  <div flex="25">
  </div>
  <div flex>
  <md-content>
    <md-list class="list" show-delete="shouldShowDelete" can-swipe="listCanSwipe">
      <nav class="navbar navbar-default navbar-inverse navbar-embossed" role="navigation">
        <ul class="nav navbar-nav nav-pills nav-stacked">
          <li ng-repeat="tag in tags" ng-if="tag.ancestry == ''">
            <md-item>
              <button ui-sref="app.tags({ id: tag.id })" class="btn btn-primary margin-bottom">
                <i class="icon ion-ios-pricetag"></i>
                  {{ tag.name }}
                <span class="badge badge-assertive">{{tag.children.length}}</span>
              </button>
            </md-item>
            <ul>
              <li ng-repeat="tag in tag.children" ng-include="'nested_tags'" class="nested"></li>
            </ul>
          </li>
        </ul>
      </nav>
  </md-list>

  <!-- Partial for editing labels -->
  <form id="edit-tag">
    <label class="item item-input">
      <span class="input-label">Name</span>
      <input type="text" value="Seleted Tag">
    </label>
    <label class="item item-input item-select">
      <div class="input-label">
        Parent
      </div>
      <select name="parent_id">
        <option value="test 0">test 0</option>
        <option value="test 1">test 1</option>
        <option value="test 2">test 2</option>
        <option value="test 3">test 3</option>
      </select>
    </label>
  </form>
</md-content>
</div>

<script type="text/ng-template" id="nested_tags">
  <md-item>
     <button ui-sref="app.tags({ id: tag.id })" class="btn btn-primary margin-bottom">
       <i class="icon ion-ios-pricetag"></i>
       {{ tag.name }}
       <span class="badge badge-assertive">{{tag.children.length}}</span>
     </button>
   </md-item>

  <ul>
    <li ng-repeat="tag in tag.children" ng-include="'nested_tags'" class="nested"></li>
  </ul>
</script>
