

<!-- Tags will be managed on entries page. THIS PAGE DEPRECATED ON DESKTOP -->

<div class="row" id="labels">
  <div class="col-sm-4">
  </div>
  <div class="col-sm-8">
  <md-content >
      <nav class="navbar navbar-default navbar-inverse navbar-embossed" role="navigation">
        <ul class="nav navbar-nav nav-pills nav-stacked">
          <li ng-repeat="tag in tags" ng-if="tag.ancestry == ''">
            <button ui-sref="app.tags({ id: tag.id })" class="btn btn-primary margin-bottom expand">
                {{ tag.name }}
              <span class="badge badge-assertive">{{tag.children.length}}</span>
            </button>
            <ul>
              <li ng-repeat="tag in tag.children" ng-include="'nested_tags'" class="nested"></li>
            </ul>
          </li>
        </ul>
      </nav>


  <!-- Partial for editing labels -->
  <form id="edit-tag">
    <label class="item item-input">
      <span class="input-label">Name</span>
      <input type="text" value="Seleted Tag">
    </label>
    <label class="item item-input item-select">
      <div class="input-label">
        Parent
      </div>
      <select name="parent_id">
        <option value="test 0">test 0</option>
        <option value="test 1">test 1</option>
        <option value="test 2">test 2</option>
        <option value="test 3">test 3</option>
      </select>
    </label>
  </form>
</md-content>
</div>

<script type="text/ng-template" id="nested_tags">
<button ui-sref="app.tags({ id: tag.id })" class="btn btn-primary margin-bottom expand">
    {{ tag.name }}
  <span class="badge badge-assertive">{{tag.children.length}}</span>
</button>
<ul>
  <li ng-repeat="tag in tag.children" ng-include="'nested_tags'" class="nested"></li>
</ul>
</script>
