<ion-view view-title="MemryBook Signup" hide-nav-bar="true">
  <ion-content ng-controller="UserCtrl" ng-model="user">

    <div ng-show="showMessage" class="ng-hide">{{message}}</div>

    <form id="registration" ng-submit="user.addUser">
      <div class="list list-inset">
        <a class="item item-icon-left salmon " href="#" style="border: 1px dashed #444;padding: 8px;">
          <i class="icon ion-person"></i>
          Add Profile Picture
        </a>
        <label class="item item-input item-icon-left">
          <input type="text" placeholder="First Name" ng-model="user.first_name" required>
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Last Name" ng-model="user.last_name" required>
        </label>
        <label class="item item-input">
          <input type="email" placeholder="Email" ng-model="user.email" required>
        </label>
        <label class="item item-input">
          <input type="password" placeholder="Password" ng-model="user.password" required>
        </label>
        <input type="submit"  ng-click="register(user)" value="Create My Account" class="button button-block salmon-dark font-white no-border bold">
      </div>
    </form>

  </ion-content>
</ion-view>
