<p> Welcome page</p>
<!-- Default Layout for Login/Logout functionality goes here-->

<md-button class="md-raised" ui-sref="user.new">Sign up</md-button>

<md-button class="md-raised" ui-sref="user.login">Login</md-button>
<!-- login/signup pages get rendered below -->
<div ui-view></div>

<div ui-view="forgot-password"></div>
<div ui-view="update-password"></div>
<div ui-view="user-new"></div>
<div ui-view="user-login"></div>

<!-- Note: Forgot password should be taken out of this file as
     user is not logged in at this moment it's just a boilerplate code
-->
