<ion-view view-title="Labels">
  <ion-content>
    <div class="list" style="margin-bottom:-1px;">
      <div class="item item-icon-left item-dark">
        <i class="icon ion-ios-pricetag"></i>
        Selected Tag
        <span class="item-note">Edit</span>
      </div>

    <ion-list class="list" show-delete="shouldShowDelete" can-swipe="listCanSwipe">
      <ul>
        <li ng-repeat="tag in tags" ng-if="tag.parent_id == ''">
          <ion-item>
               <a href="#" class="item-icon-left item-icon-right item-stable">
                 <i class="icon ion-ios-pricetag"></i>
                 {{ tag.name }}
                 <span class="badge badge-assertive">2</span>
               </a>
               <ion-option-button class="button-dark" ng-click="edit(tag)">Edit</ion-option-button>
               <ion-option-button class="button-assertive icon ion-trash-a" ng-click="remove(tag)"></ion-option-button>
             </ion-item>

          <ul>
            <li ng-repeat="tag in tags" ng-include="'tag'" ng-if="tag.id == tag.parent_id"></li>
          </ul>
        </li>
      </ul>
    </ion-list>

    <!-- Partial for editing labels -->
    <form id="edit-tag">
      <label class="item item-input">
        <span class="input-label">Name</span>
        <input type="text" value="Seleted Tag">
      </label>
      <label class="item item-input item-select">
        <div class="input-label">
          Parent
        </div>
        <select name="parent_id">
          <option value="test 0">test 0</option>
          <option value="test 1">test 1</option>
          <option value="test 2">test 2</option>
          <option value="test 3">test 3</option>
        </select>
      </label>
    </form>
  </ion-content>
</ion-view>

<script type="text/ng-template" id="tag">


     <ion-item>
        <a href="#" class="item-icon-left item-icon-right item-stable">
          <i class="icon ion-ios-pricetag"></i>
          {{ tag.name }}
          <span class="badge badge-assertive">2</span>
        </a>
        <ion-option-button class="button-dark" ng-click="edit(tag)">Edit</ion-option-button>
        <ion-option-button class="button-assertive icon ion-trash-a" ng-click="remove(tag)"></ion-option-button>
      </ion-item>

     <ul >
       <li ng-repeat="tag in tags" ng-include="'tag'" ng-if="tag.id == tag.parent_id"></li>
     </ul>

 </script>
