<ion-view view-title="MemryBook Login" hide-nav-bar="true">
  <ion-content>

    <form id="login">
      <div class="list list-inset">
        <label class="item item-input">
          <input type="email" placeholder="Email">
        </label>
        <label class="item item-input">
          <input type="password" placeholder="Password">
        </label>
        <input type="submit" value="Log In" class="button button-block button-assertive bold">
        <a href="#/user/forgot-password" class="button button-clear button-dark"><p>Forgot Your Password?</p></a>
      </div>
    </form>
  </ion-content>
</ion-view>
