<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<!-- Ionic view -->
<div ng-if="!isDesktopOrTablet">
  <ion-tabs class="tabs-icon-top">

    <!-- New Entry Tab -->
    <ion-tab title="New Entry" id="newEntry" icon-off="ion-ios-compose-outline" icon-on="ion-ios-compose" ng-click="modal.show()" ng-controller="EntriesCtrl">
    </ion-tab>

    <!-- Entries Tab -->
    <ion-tab title="Entries" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" ui-sref="app.entries">
      <ion-nav-view name="entries" id="entries"></ion-nav-view>
    </ion-tab>

    <!-- Labels Tab -->
    <ion-tab title="Labels" icon-off="ion-ios-pricetag-outline" icon-on="ion-ios-pricetag" ui-sref="app.tags">
      <ion-nav-view name="tags"></ion-nav-view>
    </ion-tab>

    <!-- Profile Tab -->
    <ion-tab title="Profile" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" ui-sref="app.profile">
      <ion-nav-view name="profile"></ion-nav-view>
    </ion-tab>

  </ion-tabs>
</div>

<!-- Desktop views -->
<!-- Add here which we want in desktop layout when the user is logged in -->
<div ng-if="isDesktopOrTablet">
  <nav class="navbar navbar-inverse navbar-embossed" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
        <span class="sr-only">Toggle navigation</span>
      </button>
      <a class="navbar-brand logo" ui-sref="app.entries">MemryBook</a>
    </div>
    <div class="collapse navbar-collapse navbar-right" id="navbar-collapse-01">
      <ul class="nav navbar-nav">
        <li><a class="a font-white bold" ui-sref="app.entries">Entries</a></li>
        <li><a class="a font-white bold" ui-sref="app.profile">Profile</a></li>
        <li><a class="a font-white bold" ui-sref="app.tags">Logout</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </nav><!-- /navbar -->


      <ul class="nav navbar-nav">

      </ul>
  </nav>

    <!-- All partials gets rendered on ui-view  -->
    <div ui-view="entries"></div>
    <div ui-view="new"></div>
    <div ui-view="tags"></div>
    <div ui-view="profile"></div>
    <div ui-view="forgot-password"></div>

</div>
