<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<!-- Ionic view -->
<div ng-if="!isDesktopOrTablet">
  <ion-tabs class="tabs-icon-top">

    <!-- New Entry Tab -->
    <ion-tab title="New Entry" icon-off="ion-ios-compose-outline" icon-on="ion-ios-compose" ng-click="modal.show()" ng-controller="EntriesCtrl">
    </ion-tab>

    <!-- Entries Tab -->
    <ion-tab title="Entries" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" ui-sref="tab.entries">
      <ion-nav-view name="entries" id="entries"></ion-nav-view>
    </ion-tab>

    <!-- Labels Tab -->
    <ion-tab title="Labels" icon-off="ion-ios-pricetag-outline" icon-on="ion-ios-pricetag" ui-sref="tab.tags">
      <ion-nav-view name="tags"></ion-nav-view>
    </ion-tab>

    <!-- Profile Tab -->
    <ion-tab title="Profile" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" ui-sref="tab.profile">
      <ion-nav-view name="profile"></ion-nav-view>
    </ion-tab>

  </ion-tabs>
</div>

<!-- Desktop views -->
<!-- Add here which we want in desktop layout when the user is logged in -->
<div ng-if="isDesktopOrTablet">
  <div>
    <md-toolbar>
      <div class="md-toolbar-tools bg-brown">
        <h2>
          <span class="logo">MemryBook</span>
        </h2>
        <span flex></span>
      </div>
    </md-toolbar>
    <!-- All partials gets rendered on ui-view  -->
    <div ui-view="entries"></div>
    <div ui-view="new"></div>
    <div ui-view="tags"></div>
    <div ui-view="profile"></div>
    <div ui-view="forgot-password"></div>

  </div>
</div>
