<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<!-- Ionic view -->
<div ng-if="!isDesktopOrTablet">
  <ion-tabs class="tabs-icon-top">

    <!-- New Entry Tab -->
    <ion-tab title="New Entry" icon-off="ion-ios-compose-outline" icon-on="ion-ios-compose" ng-click="modal.show()" ng-controller="EntriesCtrl">
    </ion-tab>

    <!-- Entries Tab -->
    <ion-tab title="Entries" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" ui-sref="tab.entries">
      <ion-nav-view name="entries" id="entries"></ion-nav-view>
    </ion-tab>

    <!-- Labels Tab -->
    <ion-tab title="Labels" icon-off="ion-ios-pricetag-outline" icon-on="ion-ios-pricetag" ui-sref="tab.tags">
      <ion-nav-view name="tags"></ion-nav-view>
    </ion-tab>

    <!-- Profile Tab -->
    <ion-tab title="Profile" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" ui-sref="tab.profile">
      <ion-nav-view name="profile"></ion-nav-view>
    </ion-tab>

  </ion-tabs>
</div>

<!-- Desktop views -->
<!-- Add here which we want in desktop layout when the user is logged in -->
<div ng-if="isDesktopOrTablet">
  <nav class="navbar-default dark font-white box-shadow">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a class="navbar-brand logo" ui-sref="tab.entries">MemryBook</a>
      </div>


      <ul class="nav navbar-nav navbar-right">
        <li><md-button class="button font-white bold" ui-sref="tab.entries">Entries</md-button></li>
        <li><md-button class="button font-white bold" ui-sref="tab.tags">Labels</md-button></li>
        <li><md-button class="button font-white bold" ui-sref="tab.profile">Profile</md-button></li>
        <li><md-button class="button font-white bold" ui-sref="tab.tags">Logout</md-button></li>
      </ul>
    </div><!-- /.container-fluid -->
  </nav>

    <!-- All partials gets rendered on ui-view  -->
    <div ui-view="entries"></div>
    <div ui-view="new"></div>
    <div ui-view="tags"></div>
    <div ui-view="profile"></div>
    <div ui-view="forgot-password"></div>

</div>
