  <div class="modal-header">
 		<h4 class="modal-title">Are you sure you want to delete this?</h4>
 	</div>
 	<div class="modal-body">
 	<div class="row centered">
 	<div class="col-xs-3 col-centered"></div>
 	<div class="col-xs-3 col-centered">
 		<button ng-click="deleteResource()" class="btn btn-primary">Yes</button>
 	</div>
 	<div class="col-xs-3 col-centered">
 		<button ng-click="candelDeleteResource()" class="btn btn-default">No</button> 
 	</div>
 	<div class="col-xs-3 col-centered"></div>
 </div>
 </div>
 <!-- <div class="container">
    <div class="row row-centered">
       
        
       
        <div class="col-xs-3 col-centered"></div>
        <div class="col-xs-3 col-centered"></div>
    </div>
</div> -->