
  <div class="desktop">
    <div id="entries">
      <form name="entryForm" id="edit-entry" class="bg-white padding" ng-submit="entry.update(entry)">
        <div class="row dz-hide">
          <div class="col-sm-8">
            <input type="text" placeholder="Title this entry" class="form-control flat margin-bottom"  ng-model="selectedEntry.title" />
          </div>
          <div class="col-sm-4">
            <div class="input-group">
              <input type="text" class="form-control flat" datepicker-popup="{{format}}" ng-model="selectedEntry.date" is-open="opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
              <span class="input-group-addon flat" ng-click="open($event)"><i class="fui-calendar-solid"></i></span>
            </div>
          </div>
        </div>
        <textarea placeholder="What would you like to remember?" rows="4" class="form-control flat margin-bottom dz-hide" ng-model="selectedEntry.content"></textarea>
        <div class="tagsinput-primary dz-hide margin-bottom">
          <!-- <input type="text" name="tagsinput" class="form-control tagsinput expand flat" placeholder="Add labels" data-role="tagsinput" ng-model="tag.name" typeahead="name for tag in selectedEntry.tags | filter:$viewValue |  limitTo:8" /> -->
          
        </div>
        <div class="row">
          <div class="col-sm-8">
            <div class="dropzone" dropzone="dropzoneConfig">
              <div class="dz-drag hidden"><p>Drag files here</p></div>
              <div class="dz-message default-message">
                <md-icon class="material-icons md-36 pull-left">attach_file</md-icon>
                <md-tooltip>
                  Attach Video, Image, Audio, or PDF
                </md-tooltip>
                <p>Drag or click to upload</p>
              </div>
            </div>
          </div>
          <div class="col-sm-4 dz-hide">
            <button class="btn btn-block btn-lg btn-primary" type="submit">Update Entry</button>
            <a class="btn btn-block btn-lg btn-primary" data-dismiss="modal" ng-click="closeModal()">Cancel</a>
          </div>
        </div>
      </form>
    </div>
  </div>
