<div class="row desktop" id="entries">
  <div class="col-sm-3" ng-controller="TagsCtrl as tags">
    <md-list>
      <md-list-item class="md-2-line">
        <img src="https://avatars3.githubusercontent.com/u/11214?v=3&s=460" class="md-avatar" alt="" />
        <div class="md-list-item-text">
          <h3>Jake Thompson</h3>
          <a ui-sref="app.profile"><u>Edit Profile</u></a>
        </div>
      </md-list-item>
    </md-list>
      <div ng-repeat="tag in tags">
          <button ng-class="{'selected' : it === ul.selected }" class="btn btn-block btn-lg btn-primary margin-bottom" ui-sref="app.entries({ tag: tag.name })">
            {{tag.name}}
          </button>
      </div>

  </div>

  <div class="col-xs-9" style="margin-right:-.9rem">
    <form name="entryForm" class="box-shadow bg-white padding" ng-submit="entry.add()">
      <div class="row">
        <md-input-container class="col-sm-8">
          <label>Entry Title</label>
          <input type="text" ng-model="entry.title"/>
        </md-input-container>
        <md-input-container class="col-sm-4">
          <label>Entry Date</label>
          <input type="date" ng-model="entry.date"/>
        </md-input-container>
      </div>
      <md-input-container>
        <label>What would you like to remember?</label>
        <textarea ng-model="entry.content"></textarea>
      </md-input-container>
      <!-- <md-chips
          ng-model="tags.name"
          placeholder="Enter a Label"
          delete-button-label="Remove Tag"
          delete-hint="Press delete to remove tag"
          secondary-placeholder="+Label">
      </md-chips> -->
      <div class="row">
        <div class="col-sm-8">
          <md-button class="md-fab md-primary" aria-label="Attach File">
            <md-icon class="material-icons md-36">attach_file</md-icon>
            <md-tooltip>
              Attach Video, Image, Audio, or PDF
            </md-tooltip>
          </md-button>
          <p>Drag or Click to Upload</p>
        </div>
        <div class="col-sm-4">
          <button class="btn btn-block btn-lg btn-primary" type="submit">Save Entry</button>
        </div>
      </div>
    </form>


    <div class="row margin-top" ng-repeat="entry in entries">
      <div class="col-sm-9">
        <md-card class="entry">
          <md-card-content class="header">
            <md-button class="pull-right" aria-label="Edit or Delete" class="md-primary md-raised" ng-click="showBottomSheet()">
              <md-icon class="material-icons">more_horiz</md-icon>
              <md-tooltip>
                Edit or Delete
              </md-tooltip>
            </md-button>
            <h2 class="md-title">{{entry.title}}</h2>
            <p>{{entry.date | date: "longDate"}}</p>
          </md-card-content>
          <md-card-content class="content">
            <p>
              {{entry.content}}
            </p>
          </md-card-content>

          <md-tabs md-dynamic-height md-border-bottom>
            <md-tab label="Visual">
              <md-content class="md-padding">
                <carousel>
                  <slide ng-repeat="resource in entry.resources" ng-if="resource.attachment_content_type == 'image' || resource.attachment_content_type == 'video'" style="width:40%;margin:0 auto;">
                    <img ng-src="{{resource.attachment}}" class="md-card-image" ng-if="resource.attachment_content_type == 'image'">
                    <videogular vg-theme="config.theme.url" ng-if="resource.attachment_content_type == 'video'">
                      <vg-media vg-src="config.sources" vg-native-controls="true"></vg-media>
                    </videogular>
                  </slide>
                </carousel>
              </md-content>
            </md-tab>
            <md-tab label="Audio">
              <md-content class="md-padding">
                <md-list>
                  <md-list-item class="md-2-line" ng-repeat="resource in entry.resources" ng-if="resource.attachment_content_type == 'audio'">
                    <md-icon class="material-icons">music_note</md-icon>
                    <div class="md-list-item-text">
                      <h3> {{ resource.attachment }} </h3>
                      <p> {{ resource.attachment_file_name }} </p>
                    </div>
                  </md-list-item>
                </md-list>
              </md-content>
            </md-tab>
            <md-tab label="Files">
              <md-content class="md-padding">
                <md-list>
                  <md-list-item class="md-2-line" ng-repeat="resource in entry.resources" ng-if="resource.attachment_content_type == 'pdf'">
                    <md-icon class="material-icons">picture_as_pdf</md-icon>
                    <div class="md-list-item-text">
                      <h3> {{ resource.attachment }} </h3>
                      <p> {{ resource.attachment_file_name }} </p>
                    </div>
                  </md-list-item>
                </md-list>
              </md-content>
            </md-tab>
          </md-tabs>
        </md-card>
      </div>

      <div class="col-xs-3" style="margin-left:-.9rem;">
        <div ng-repeat="tag in entry.tags" class="margin-bottom">
          <button class='btn btn-block btn-lg btn-primary'>{{tag.name}}</button>
        </div>
      </div>
    </div>
  </div>
