<div class="row" id="entries">
  <div class="col-sm-3" ng-controller="TagsCtrl as tags">

    <md-list>
      <md-list-item class="md-2-line">
        <img src="https://avatars3.githubusercontent.com/u/11214?v=3&s=460" class="md-avatar" alt="" />
        <div class="md-list-item-text">
          <h3>Jake Thompson</h3>
          <a ui-sref="app.profile"><u>Edit Profile</u></a>
        </div>
      </md-list-item>
    </md-list>
    <a class="pointer" ng-click="goBack()" ng-show="showBackButton"><md-icon class="material-icons">keyboard_backspace</md-icon> {{childLabel}}</a>
    <div ng-repeat="tag in tags" ng-if="tag.ancestry == ''" class="margin-bottom tag">
      <a class="edit pointer" ng-click="showEditLabelPopUp(tag)"><md-icon class="material-icons edit">mode_edit</md-icon></a>
      <button ng-class="{'selected' : it === ul.selected }" class="btn btn-block btn-primary " ui-sref="app.tagEntries({ id: tag.id })">
        {{tag.name}}
        <md-icon class="material-icons pull-right" ng-if="tag.children.length">keyboard_arrow_right</md-icon>
      </button>
    </div>
  </div>

  <div class="col-sm-9">

    <form name="entryForm" class="bg-white padding rounded" novalidate ng-submit="entryAdd()">
      <div class="row dz-hide">
        <div class="col-sm-8">
          <input type="text" placeholder="Title this entry"  name="title" class="form-control flat bg-gray margin-bottom" required  ng-model="entry.title" ng-class="{error:entryForm.title.$dirty&& entryForm.title.$invalid}" />
          <span ng-show="entryForm.title.$dirty && entryForm.title.$invalid">
            <span ng-show="entryForm.title.$error.required" class="error-message">
              This title can't be blank.
            </span>
          </span>
        </div>
        <div class="col-sm-4 ">
          <div class="input-group date">
            <input type="text" class="form-control flat" datepicker-popup="{{format}}" name="date" ng-model="entry.date" is-open="opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" style="text-align:right;" ng-disabled="true" />
            <md-tooltip>
              Click calendar icon to change date
            </md-tooltip>
            <span class="input-group-addon flat" ng-click="open($event)"><i class="fui-calendar"></i></span>
             <span ng-show="entryForm.date.$dirty && entryForm.date.$invalid">
            <span ng-show="entryForm.date.$error.required">
              Date is required
            </span>
          </span>
          </div>
        </div>
      </div>
      <textarea placeholder="What would you like to remember?" id="wysiwyg" rows="4" class="form-control flat bg-gray margin-bottom dz-hide" ng-model="entry.content"></textarea>
      <input type="text" name="tagsinput" class="form-control tagsinput expand flat bg-gray dz-hide" placeholder="Add labels" ng-model="tags" typeahead="tag.name as tag.name for tag in tags | filter:$viewValue | limitTo:8" />
      <div class="row">
        <div class="col-sm-8">
          <div class="dropzone" dropzone="dropzoneConfig">
            <div class="dz-drag hidden"><p>Drag files here</p></div>
            <div class="dz-message default-message">
              <md-icon class="material-icons md-36 pull-left">attach_file</md-icon>
              <md-tooltip>
                Attach Video, Image, Audio, or PDF
              </md-tooltip>
              <p>Drag or click to upload</p>
            </div>
          </div>
        </div>
        <div class="col-sm-4 dz-hide">
          <button class="btn btn-block btn-lg btn-primary" ng-disabled="entryForm.$invalid" type="submit">Save Entry</button>
        </div>
      </div>
    </form>

    <i class="fui-search search-icon pointer" ng-click="searchToggle = !searchToggle" ng-show="!searchToggle"></i>

    <div class="row no-gutters margin-top bg-white search" ng-show="searchToggle">
      <form class="navbar-form" action="#" role="search" name="entrySearch">
        <div class="form-group">
          <div class="input-group has-feedback">
            <input class="form-control" id="navbarInput-01" type="search" placeholder="Search" ng-model="SearchText">
            <span class="form-control-feedback fui-search"></span>
          </div>
          <div class="input-group">

            <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="SearchBeginningDate" is-open="openedBeginning" datepicker-options="dateOptions" ng-required="true" close-text="Close" style="text-align:right;" placeholder="Beginning Date" />
            <span class="input-group-addon flat" ng-click="openBeginning($event)"><i class="fui-calendar"></i></span>
          </div>

          <div class="input-group">
            <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="SearchEndDate" is-open="openedEnd" datepicker-options="dateOptions" ng-required="true" close-text="Close" style="text-align:right;" placeholder="End Date" />
            <span class="input-group-addon flat" ng-click="openEnd($event)"><i class="fui-calendar" ></i></span>
          </div>
          <button class="btn btn-primary btn-wide" >Search</button>
        </div>
          <i class="fui-cross-circle pull-right pointer" ng-click="
          closeSearch()"></i>
      </form>
    </div>


    <div class="row margin-top" ng-repeat="entry in entries">
      <div class="col-xs-9" style="margin-right:-.5rem">
        <md-card class="entry rounded">
          <md-card-content class="header">
            <md-button class="pull-right no-margin" aria-label="Edit or Delete" class="md-primary md-raised" ng-click="showBottomSheet(entry)">
              <md-icon class="material-icons">more_horiz</md-icon>
              <md-tooltip>
                Edit or Delete
              </md-tooltip>
            </md-button>
            <md-list class="no-margin">
            <md-list-item class="md-2-line no-margin">
              <img ng-src="{{user.avatar}}" class="md-avatar" ng-controller="UserCtrl">
              <div class="md-list-item-text">
            <h2 class="md-title">{{entry.title}}</h2>
            <h4 class="date">{{entry.date | date: "longDate"}} ({{entry.date | timeAgo }}).</h4>
          </div>
            </md-list-item>
          </md-list>
          </md-card-content>
          <md-card-content class="content">
            <p read-more ng-if="entry.content" ng-model="entry.content" words="true" length="50"></p>

          </md-card-content>

          <md-tabs md-dynamic-height md-border-bottom md-center-tabs md-stretch-tabs="always">
            <md-tab label="Visual">
              <md-content class="md-padding">
                <slick settings="slickConfig" class="slick-uninitialized">
                  <div class="slick" ng-repeat="resource in entry.resources" ng-if="resource.attachment_content_type == 'image' || resource.attachment_content_type == 'video'">
                    <img ng-src="{{resource.attachment}}" class="md-card-image" ng-if="resource.attachment_content_type == 'image'">
                    <md-icon class="material-icons lightbox-button" ng-click='openLightBoxModel($index,entry.resources)' ng-if="resource.attachment_content_type == 'image'">open_in_new</md-icon>
                    <div ng-click='openLightBoxModel($index,entry.resources)' ng-if="resource.attachment_content_type == 'video'" class="video-thumb">
                     <img ng-src="{{resource.attachment_thumbnail}}" class="video">
                     <md-icon class="material-icons" ng-click='openLightBoxModel($index,entry.resources)'>play_circle_filled</md-icon>
                    </div>
                  </div>
                </slick>

              </md-content>
            </md-tab>
            <md-tab label="Audio">
              <md-content class="md-padding audio">
                  <div class="input-group margin">
                    <label class="input-group-addon">Time</label>
                    <input class="form-control" type=range min=0 max=1 step=0.01 ng-model='audio.progress'>
                  </div>
                  <div class="input-group margin">
                    <label class="input-group-addon">Volume</label>
                    <input class="form-control" type=range min=0 max=1 step=0.01 ng-model='audio.volume'>
                  </div>
                  <md-list>
                    <md-list-item class="md-2-line" ng-repeat="resource in entry.resources" ng-if="resource.attachment_content_type == 'audio'">
                      <div class="md-list-item-text">
                        <button id="playButton{{$index}}" ng-click='audioPlay($index,resource.attachment)' class="btn btn-primary play">Play</button>
                         <button ng-click='audioStop($index,resource.attachment)' class="btn btn-danger">Stop</button>
                         <button ng-click='audio.muting = !audio.muting' class="btn btn-default">Mute</button>
                         {{ resource.attachment_file_name}}
                      </div>
                    </md-list-item>
                </md-list>
              </md-content>
            </md-tab>

            <md-tab label="Files">
              <md-content class="md-padding files">
                <md-list>
                  <md-list-item class="md-2-line" ng-repeat="resource in entry.resources" ng-if="resource.attachment_content_type == 'pdf'">
                    <md-icon class="material-icons">picture_as_pdf</md-icon>
                    <div class="md-list-item-text">
                      <h3><a href="{{ resource.attachment }}" target="_blank">{{ resource.attachment_file_name }}</a></h3>
                      <p> </p>
                    </div>
                  </md-list-item>
                </md-list>
              </md-content>
            </md-tab>
          </md-tabs>
        </md-card>
      </div>

      <div class="col-xs-3" style="margin-left:-.9rem;">
        <div ng-repeat="tag in entry.tags" class="margin-bottom">
          <button class='btn btn-block btn-primary' ui-sref="app.tagEntries({ id: tag.id })">{{tag.name}}</button>
        </div>
      </div>
    </div>



    <div class="row margin-top" ng-show="entries.length==0">
      <div class="col-sm-9">
        <md-card class="entry">
          <md-card-content class="content">
          <p class="md-title">
            No Content Found
          </p>
        </md-card-content>
      </md-card>
    </div>
  </div>
</div>



<div class="row margin-top" ng-show="entries.length==0">
  <div class="col-sm-9">
    <md-card class="entry">
    <md-card-content class="content">
    <p class="md-title">
      No Content Found
    </p>
  </md-card-content>
</md-card>
</div>
</div>
</div>
</div>

<div id="preview-template" style="display: none;">
  <div class="dz-preview dz-file-preview">
    <div class="dz-image"><img data-dz-thumbnail=""></div>
    <div class="dz-details">
      <div class="dz-size"><span data-dz-size=""></span></div>
    </div>
    <div class="dz-progress progress"><span class="dz-upload progress-bar" data-dz-uploadprogress=""></span></div>
    <div class="dz-error-message hidden"><span data-dz-errormessage=""></span></div>
    <div class="dz-success-mark">
      <svg width="54px" height="54px" viewBox="0 0 54 54" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
        <defs></defs>
        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
            <path d="M23.5,31.8431458 L17.5852419,25.9283877 C16.0248253,24.3679711 13.4910294,24.366835 11.9289322,25.9289322 C10.3700136,27.4878508 10.3665912,30.0234455 11.9283877,31.5852419 L20.4147581,40.0716123 C20.5133999,40.1702541 20.6159315,40.2626649 20.7218615,40.3488435 C22.2835669,41.8725651 24.794234,41.8626202 26.3461564,40.3106978 L43.3106978,23.3461564 C44.8771021,21.7797521 44.8758057,19.2483887 43.3137085,17.6862915 C41.7547899,16.1273729 39.2176035,16.1255422 37.6538436,17.6893022 L23.5,31.8431458 Z M27,53 C41.3594035,53 53,41.3594035 53,27 C53,12.6405965 41.3594035,1 27,1 C12.6405965,1 1,12.6405965 1,27 C1,41.3594035 12.6405965,53 27,53 Z" id="Oval-2" stroke-opacity="0.198794158" stroke="#747474" fill-opacity="0.816519475" fill="#FFFFFF" sketch:type="MSShapeGroup"></path>
        </g>
      </svg>
    </div>
    <div class="dz-error-mark">
      <svg width="54px" height="54px" viewBox="0 0 54 54" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
          <defs></defs>
          <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
              <g id="Check-+-Oval-2" sketch:type="MSLayerGroup" stroke="#747474" stroke-opacity="0.198794158" fill="#FFFFFF" fill-opacity="0.816519475">
                  <path d="M32.6568542,29 L38.3106978,23.3461564 C39.8771021,21.7797521 39.8758057,19.2483887 38.3137085,17.6862915 C36.7547899,16.1273729 34.2176035,16.1255422 32.6538436,17.6893022 L27,23.3431458 L21.3461564,17.6893022 C19.7823965,16.1255422 17.2452101,16.1273729 15.6862915,17.6862915 C14.1241943,19.2483887 14.1228979,21.7797521 15.6893022,23.3461564 L21.3431458,29 L15.6893022,34.6538436 C14.1228979,36.2202479 14.1241943,38.7516113 15.6862915,40.3137085 C17.2452101,41.8726271 19.7823965,41.8744578 21.3461564,40.3106978 L27,34.6568542 L32.6538436,40.3106978 C34.2176035,41.8744578 36.7547899,41.8726271 38.3137085,40.3137085 C39.8758057,38.7516113 39.8771021,36.2202479 38.3106978,34.6538436 L32.6568542,29 Z M27,53 C41.3594035,53 53,41.3594035 53,27 C53,12.6405965 41.3594035,1 27,1 C12.6405965,1 1,12.6405965 1,27 C1,41.3594035 12.6405965,53 27,53 Z" id="Oval-2" sketch:type="MSShapeGroup"></path>
              </g>
          </g>
      </svg>
    </div>
    <div class="dz-filename">
      <span data-dz-name=""></span>
      <input type="text" class="fileName" style="display:none" />
    </div>
    <a class='dz-remove ok' style="display:none">Ok</a>
      <a class='dz-remove cancel' style="display:none">cancel</a>
  </div>
</div>

<style>
body {
  height: initial;
}
</style>

<script>
$(".tagsinput").tagsinput();
window.onbeforeunload = function(){
	var inputs = document.getElementById('wysiwyg').value;
	var unfinished = 'false';
	for (var i=0; i<inputs.length; ++i) {
		if ( inputs[i].value != '' ) {
			unfinished = 'true';
		}
	}
	if ( unfinished == 'true' ) {
		return 'Looks like you\'ve started an entry. Are you sure you\'d like to leave?';
	}
}
</script>
