<div class="modal-body"
    ng-swipe-left="Lightbox.nextImage()"
    ng-swipe-right="Lightbox.prevImage()">

    <!-- image -->
    <div class="lightbox-image-container" ng-if="!Lightbox.showVideo">
      <a class="prev-image pointer" ng-click="Lightbox.prevImage()"><md-icon class="material-icons">chevron_left</md-icon></a>
      <a class="next-image pointer" ng-click="Lightbox.nextImage()"><md-icon class="material-icons">chevron_right</md-icon></a>
      <img lightbox-src="{{Lightbox.imageUrl}}">
    </div>
    <div class="lightbox-video-container" ng-if="Lightbox.showVideo">
      <video width="320" height="240" class="video-js" preload="auto" poster="" data-setup="{}" controls autoplay>
          <source src="{{Lightbox.imageUrl}}" type="video/mp4">
      </video>
      <button class="btn btn-default material-icons pointer pull-left" ng-click="Lightbox.prevImage()">chevron_left</button>
      <button class="btn btn-default material-icons pointer pull-right" ng-click="Lightbox.nextImage()">chevron_right</button>
    </div>

</div>
<style>
.modal-content {
  background: none;
}
.modal-backdrop.in {
    opacity: .8;
}
</style>
