<md-bottom-sheet class="md-grid" ng-controller="EntriesCtrl">
	<md-list layout-align="center center">
		<md-list-item>
		  <md-button class="md-grid-item-content" ng-click="openSharedModal()">
		    <md-icon class="material-icons">edit</md-icon>
		    <div class="md-grid-text">Edit</div>
		  </md-button>
		</md-list-item>
		<md-list-item>
		  <md-button class="md-grid-item-content" ng-click="hideShare()">
		    <md-icon class="material-icons">not_interested</md-icon>
		    <div class="md-grid-text">Hide</div>
		  </md-button>
		</md-list-item>
	</md-list>
</md-bottom-sheet>
