<ion-view view-title="MemryBook Signup" hide-nav-bar="true">
  <ion-content>

    <form id="registration">
      <div class="list list-inset">

        <div class="row">
        <label class="col item item-input first">
          <input type="text" placeholder="First Name">
        </label>
        <label class="col item item-input last">
          <input type="text" placeholder="Last Name">
        </label>
      </div>
        <label class="item item-input">
          <input type="email" placeholder="Email">
        </label>
        <label class="item item-input">
          <input type="password" placeholder="Password">
        </label>
        <input type="submit" value="CREATE MY ACCOUNT" class="button button-block salmon font-white no-border bold">
      </div>
    </form>

  </ion-content>
</ion-view>
