
#welcome h1, #welcome p {
	color: #774F38;
}

#welcome img {
	width: 30%;
	border-radius: 100%;
	background-color: #ECE5CE ;
	padding: 5%;
}

#welcome h1 {
	margin-top: 0;
	margin-bottom: 0;
}

#welcome .pane, #welcome .list {
	background-color: #C5E0DC ;
}

#welcome .item {
    border: none;
    margin: 5%;
		background-color: #eee;
	  padding: 1% 5%;
  	text-align: right;
}

#welcome .list {
    margin: 0 15%;
    border-radius: 5%;
}

#registration .row {
    padding: 0;
    margin-bottom: 1px;
}

#registration .row .first {
    border-right: none;
}

#registration .row .last {
    border-left: none;
}
