/* All the stylesheets for entry module */
#entries.desktop {
  margin-right: 1rem;
  margin-left: 1rem;
}

#entries .item.item-body {
  padding-top: 0;
}

#entries .entry .header {
  background-color: ;
  padding-bottom: 0;
}

#entries .entry .content {
  padding-top: 0;
}

#entries .entry .footer {
  background-color: ;
}

.md-inline-list-icon-label {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: -10px;
  height: 24px;
  vertical-align: middle; }
.md-grid-item-content {
  height: 96px; }
  .md-grid-item-content md-icon {
    font-size: 35px;
    margin-left: 15px;
  }
.md-grid-text {
  padding-bottom: 5px; }


.mobile .form .row, .form .row .col {
  padding: 0;
}

.mobile .form input[type="textarea"] {
  border: none;
}
