
/********************

Desktop CSS

*********************/
.body {
  height: initial !important;
}

.desktop {
    margin-right: 1rem !important;
    margin-left: 1rem !important;
}

.desktop .navbar {
    margin-bottom: 1rem;
    /*margin-right: -1rem;
    margin-left: -1rem;
    border-radius: 0;*/
}

.desktop #entries .entry .header {
  background-color: ;
  padding-bottom: 0;
}

.desktop #entries .entry .content {
  padding-top: 0;
}

.md-inline-list-icon-label {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: -10px;
  height: 24px;
  vertical-align: middle; }

.md-grid-item-content {
  height: 96px; }

.md-grid-item-content md-icon {
    font-size: 35px;
    margin-left: 15px;
  }

.md-grid-text {
  padding-bottom: 5px; }

.desktop #entries .entry .lightbox-button {
    position: absolute;
    bottom: 2px;
    left: 2px;
    background-color: #fff;
    opacity: .7;
    border-radius: 5px;
}

.desktop #entries .video-thumb md-icon {
    position: absolute;
    color: white;
    opacity: .93;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    transform: scale(5);
    -webkit-transform: scale(5);
    -moz-transform: scale(5);
    -ms-transform: scale(5);
    -o-transform: scale(5);
}

.desktop  #entries .tag .edit {
  float: left;
  width: 20%;
  display: inherit;
  padding: 5px;
  background-color: #01A383;
  height: 100%;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  display: none;
}

.desktop #entries .tag:hover button {
  width: 80%;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.desktop #entries .tag:hover .edit {
  display: inherit;
}

.desktop #entries .header h2 {
    margin-top: 0;
    margin-bottom: 0;
}

.desktop #entries .header .md-list-item-text {
  padding: 0;
}

.desktop #entries .header md-list-item {
  padding: 0;
}

.desktop #entries .header img.md-avatar {
    margin-top: 0;
}


.desktop #entries .content {
    padding-bottom: 0;
}

.desktop .slick-slide {
  width: 100%;
  transform: scale(.92);
  -webkit-transform: scale(.92);
  -moz-transform: scale(.92);
  -ms-transform: scale(.92);
  -o-transform: scale(.92);
}

.desktop .slick-slide.slick-current.slick-active {
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  -webkit-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
}

.desktop .slick-slide md-icon {
    pointer-events: none;
}

.desktop .slick-current md-icon {
    pointer-events: inherit;
    cursor: pointer;
}

.desktop .slick-uninitialized {
  display: none;
  opacity: 0;
}

.desktop .slick-initialized {
  display: inherit;
  opacity: 1;
    -webkit-animation: fadein 3s;
       -moz-animation: fadein 3s;
        -ms-animation: fadein 3s;
         -o-animation: fadein 3s;
            animation: fadein 3s;
}

.slick-slide {
  width: 100%;
  transform: scale(.92);
  -webkit-transform: scale(.92);
  -moz-transform: scale(.92);
  -ms-transform: scale(.92);
}

.slick-slide.slick-current.slick-active {
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
}

.slick-slide img {
  border-radius: 5px;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.desktop .date .dropdown-menu {
  right: 0px !important;
  left: initial !important;
  padding: 5px;
}

.desktop .date .form-control[disabled] {
  color: #444 !important;
  background-color: #fff !important;
  border-color: #fff !important;
  opacity: .7 !important;
}

.desktop .date .input-group-addon:last-child {
  border-radius: 6px;
}

.desktop .search .dropdown-menu {
    display: block;
    bottom: 35px !important;
    right: 0px !important;
    top: initial !important;
    left: initial !important;
}

#edit-entry {
  border-radius: 5px;
}

.modal-content {
  box-shadow: none;
  border: none;
  border-radius: 5px;
}

.modal-backdrop.in {
    opacity: .5;
}

/* Lightbox */

.lightbox-image-container .prev-image {
    position: absolute;
    height: 100%;
    width: 25%;
    left: 0;
    display: none;
    background: none;
    padding-top: 45%;
    z-index: 1;
}

.lightbox-image-container .prev-image md-icon {
    background-color: #fff;
    border-radius: 100%;
    opacity: .5;
}

.lightbox-image-container:hover .prev-image {
    display: inherit;
}

.lightbox-image-container .next-image {
    position: absolute;
    height: 100%;
    width: 25%;
    right: 0;
    display: none;
    background: none;
    padding-top: 45%;
    z-index: 1;
}

.lightbox-image-container .next-image md-icon {
    background-color: #fff;
    border-radius: 100%;
    opacity: .5;
}

.lightbox-image-container:hover .next-image {
    display: inherit;
}

.lightbox-video-container .video-js {
  padding-bottom: 0;
  margin-bottom: 47px;
  background-color: #000;
}

/* Audio */

.desktop #entries .audio input[type=range]{
    -webkit-appearance: none;
}

.desktop #entries .audio input[type=range]::-webkit-slider-runnable-track {
    height: 5px;
    background: none;
    border: none;
    border-radius: 3px;
}

.desktop #entries .audio input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #1abc9c;
    margin-top: -4px;
}

.desktop #entries .audio input[type=range]:focus {
    outline: none;
}

.desktop #entries .audio input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}

.desktop #entries .search {
  position: fixed;
  z-index: 10;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: center;
  border-top: 2px solid #ccc;
  }

.desktop #entries .search-icon:before {
  background-color: #fff;
  padding: 7px;
  border-radius: 100%;
}

.desktop #entries .search-icon {
  position: fixed;
  z-index: 10;
  right: 1%;
  bottom: 1%;;
}

.desktop #entries .content p {
  white-space: pre-line;
}

.desktop #entries .content a {
  cursor: pointer;
}

.desktop .tag md-icon {
    color: #fff;
}

.desktop #entries .entry .files md-list-item, .desktop #entries .entry .audio md-list-item {
    border-bottom: 2px solid #eee;
}

.desktop .error{
  border-color: red !important;
  margin-bottom: 0;
}
.desktop .error-message {
    padding: 5px;
    margin-top: 0;
    border-radius: 5px;
    color: red;
}

.desktop #entries .date .input-group-addon {
    border-radius: 5px;
}

/********************

Mobile CSS

*********************/

.mobile #entries .item-body {
  padding-top: 0;
}

.mobile .form .row, .form .row .col {
  padding: 0;
}

.mobile .form input[type="textarea"] {
  border: none;
}
.mobile #entries .video-thumb .icon {
  position: relative;
}

.mobile #entries .video-thumb .icon {
    position: absolute;
    color: white;
    opacity: .93;
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
    text-align: center;
}

.mobile #entries .video-thumb .icon:before {
    margin-top: 40%;
    margin-bottom: auto;
    bottom: 0;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    font-size: 60px;
}

.mobile #entries .item .labels a.subdued {
  padding-right:0;
}

.mobile #entries .item-body a {
    text-decoration: none;
}

.fullscreen-player {
    max-width: 100%;
    max-height: 100%;
    bottom: 0;
    left: 0;
    margin: auto;
    overflow: none;
    position: fixed;
    right: 0;
    top: 0;
}

.slider {
    width: 100%;
    height: 100%;
}
.image-modal {
    width: 100% !important;
    height: 100%;
    top: 0 !important;
    left: 0 !important;
}
.form-error{
  margin-left: 20px;
  color: red;
}
.edit-image{
  height: 100px;
  width:100px;
}