
/********************

Desktop CSS

*********************/

.desktop {
    margin-right: 1rem !important;
    margin-left: 1rem !important;
}

.desktop .navbar {
    margin-bottom: 1rem;
    /*margin-right: -1rem;
    margin-left: -1rem;
    border-radius: 0;*/
}

.desktop #entries .entry .header {
  background-color: ;
  padding-bottom: 0;
}

.desktop #entries .entry .content {
  padding-top: 0;
}

.md-inline-list-icon-label {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: -10px;
  height: 24px;
  vertical-align: middle; }

.md-grid-item-content {
  height: 96px; }

.md-grid-item-content md-icon {
    font-size: 35px;
    margin-left: 15px;
  }

.md-grid-text {
  padding-bottom: 5px; }

.desktop  #entries .video-thumb {
    position: relative;
  }

.desktop #entries .video-thumb md-icon {
    position: absolute;
    font-size: 12rem;
    color: white;
    opacity: .93;
    left: 0;
    top: 0;
    width: 50%;
    height: 50%;
    padding: 27%;
  }

.desktop  #entries .tag .edit {

  float: left;
  width: 20%;
  display: inherit;
  padding: 5px;
  background-color: #01A383;
  height: 100%;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  display: none;
}

.desktop #entries .tag:hover button {
  width: 80%;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.desktop #entries .tag:hover .edit {
  display: inherit;
}

.desktop #entries .header h2 {
    margin-top: 0;
    margin-bottom: 0;
}

.desktop #entries .header .date {
    color: #aaa;
}

.desktop #entries .content {
    padding-bottom: 0;
}

.desktop .fancy {
  line-height: 0.5;
  text-align: center;
}
.desktop .fancy span {
  display: inline-block;
  position: relative;
}
.desktop .fancy span:before,
.desktop .fancy span:after {
  content: "";
  position: absolute;
  height: 5px;
  border-bottom: 1px solid #ddd;
  top: 0;
  width: 100%;
}
.desktop .fancy span:before {
  right: 100%;
  margin-right: 15px;
}
.desktop .fancy span:after {
  left: 100%;
  margin-left: 15px;
}

.desktop .slick-slide {
  width: 100%;
  transform: scale(.92);
  -webkit-transform: scale(.92);
  -moz-transform: scale(.92);
  -ms-transform: scale(.92);
}

.desktop .slick-slide.slick-current.slick-active {
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
}

.desktop .slick-slide md-icon {
    pointer-events: none;
}

.desktop .slick-current md-icon {
    pointer-events: inherit;
    cursor: pointer;
}

.desktop .slick-uninitialized {
  visibility: hidden;
  opacity: 0;
}

.desktop .slick-initialized {
  visibility: visible;
  opacity: 1;
    -webkit-animation: fadein 3s;
       -moz-animation: fadein 3s;
        -ms-animation: fadein 3s;
         -o-animation: fadein 3s;
            animation: fadein 3s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/********************

Mobile CSS

*********************/


.mobile #entries .item-body {
  padding-top: 0;
}

.mobile .form .row, .form .row .col {
  padding: 0;
}

.mobile .form input[type="textarea"] {
  border: none;
}
