#entries .item.item-body {
  padding-top: 0;
}

#entries .entry .header {
  background-color: #eee;
  padding-bottom: 0;
}

#entries .entry .content {
  padding-top: 0;
}

#entries .entry .footer {
  background-color: #eee;
}
