/* Empty. Add your own CSS if you like */



ul {
	margin-left: 25px;
}

* {
    font-family: 'Ubuntu', sans-serif;
}

html, body {
  height: initial !important;
  background-color: #ddd !important;
}

.logo {
	font-family: 'Lobster Two', cursive;
}

.center {
	text-align: center;
}

.right {
	float: right;
}

.no-border {
	border:	none;
}

.bold {
	font-weight: bold !important;
}

.no-padding {
	padding: 0;
}

.no-padding-top-bottom {
	padding-top: 0;
	padding-bottom: 0;
}

.box-shadow {
	box-shadow: 0 0 5px 0px #444;
}

.expand {
  width: 100%;
}

md-bottom-sheet {
    position: fixed !important;
}



/********

Color Styling

********/

.gray {
	background-color: #f5f5f5;
}

.greendew {
	background-color: #A9D5C6;
}

.salmon {
	background-color: #FD9781 !important;
}

.salmon-dark {
	background-color: #E47E68;
}

.stationary {
	background-color: #EBE5CD;
}

.bg-brown {
  background-color: #774F38;
}

.font-white {
	color: white;
}

.dark {
  background-color: #444 !important;
}

.dark button, .dark p, .dark i, .dark a, .dark h1 {
  color: #fff !important;
}
