/* Empty. Add your own CSS if you like */

p {
	font-family: 'Ubuntu', sans-serif;
	/*font-family: 'Ubuntu Condensed', sans-serif;*/
}

.logo {
	font-family: 'Lobster Two', cursive;
}

.center {
	text-align: center;
}

.right {
	float: right;
}

.no-border {
	border:	none;
}

.bold {
	font-weight: bold;
}

.no-padding {
	padding: 0;
}

.no-padding-top-bottom {
	padding-top: 0;
	padding-bottom: 0;
}



/********

Color Styling

********/

.gray {
	background-color: #f5f5f5;
}

.greendew {
	background-color: #A9D5C6;
}

.salmon {
	background-color: #FD9781;
}

.font-white {
	color: white;
}

.dark {
  background-color: #444 !important;
}

.dark button, .dark p, .dark i, .dark a, .dark h1 {
  color: #fff !important;
}

/***************

Welcome Screen

***************/

#welcome {
	background-image: url('/img/family.jpg');
	background-size: cover;
  padding-top: 20%;
  padding-bottom: 10%;
}

#registration .row {
    padding: 0;
    margin-bottom: 1px;
}

#registration .row .first {
    border-right: none;
}

#registration .row .last {
    border-left: none;
}
